<!DOCTYPE html>
<html lang="zh=TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--連結css-->
    <link rel="stylesheet" href="style.css"
    <div class="logo"><a href="./ex_index.html"><img src="images/logo-ch1.png"></a></div>
</head>
<body>
  <form>
  <div class="modal-header">  
    <h3>忘記密碼</h3>
  </div>
  <!-- 登入表單 -->
  <!-- email -->
  <div class="form-group">
  <input type="email" class="account form-control" placeholder="Email">
  </div>
  <!-- 送出按鈕 -->
  <button type="button" class="btn btn-info"> 送出 </button>
  
 
 
</form>

</body>
</html>