@media all {
    .banner_bg_main {
        width: 100%;
        height: 100vh;
        background-image: url(../images/banner-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 55% 0%;
    }
    
    .banner_taital {
        position: absolute;
        top: 70px; /* 調整數值以達到您想要的效果 */
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 60px;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        display: center;
    }
    
    .body {
        vertical-align:top;
        display: flex;
        margin: auto;
        align-items: center;
        background-color: #776124;
    }
    
    .main {
        display: center;
        /* 水平置中 */
        justify-content: center;    
        /* 垂直置中 */
        align-content: center;      
        flex-wrap: wrap;
        /* padding: 10px; */
        /* font-size: 17px; */
        border: none;
        /* float: left; */
        width: 70%;
        margin: auto;

    }
    
    .logo_section {
        float: left;
        margin: 10px 50px;
        list-style: none;
    }
    
    .header_section_top {
        width: 100%;
        float: left;
        background-color: #2b2a29;
        clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
        height: auto;
        padding: 10px 0px;
    }
    
    .custom_menu {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .custom_menu ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
    }
    
    .custom_menu li {
        float: left;
        font-size: 16px;
        color: #f1f1f1;
        padding: 6px 10px 0px 10px;
    }
    
    .custom_menu li a {
        color: #f1f1f1;
    }
    
    .custom_menu li a:hover {
        color: #f26522;
    }
    
    /* 搜尋框 */
    .input-group {
        display: grid;
         /* 設置 .input-group 為 grid 容器 */
        grid-template-columns: 1fr auto; 
        /* 設置 .input-group 的列佈局為一個比例單位和一個自動單位 */
        margin-top: 230px; /* 根据需要调整此值 */
      }
    
    
    .form-control:focus {
        border-color: #ffffff !important;
        box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
    }
    
    
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
        position: absolute;
        top: 50px; /* 根據需要調整此值 */

    }
    /* 搜尋按鈕 */
    .btn {
        float: center;
        width: 10%;
        padding: 10px;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; /* 防止双边框 */
        cursor: pointer;
    }
    
    .btn-secondary {
        width:40px;
        height:38px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#FFFFFF;
        font-weight:900;
        background-image: url('../images/search-icon.png');
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: center;
        border:none;
        }
    
    /* 登入註冊 */
    .login_menu {
        display: flex;
        text-align: right;
        float: right;
        list-style: none;
        margin: 15px 10px;
    }
    
    .login_menu ul {
        margin: 0px;
        padding: 0px;
    
    }
    
    .login_menu li {
        float: left;
        font-size: 16px;
        color: #ffffff;
        text-transform: uppercase;
        padding-left: 10px;
        padding-top: 4px;
    }
    
    .login_menu li a {
        color: #ffffff;
    }
    
    .login_menu li a:hover {
        color: #f26522;
    }
    
    .padding_10 {
        padding-left: 10px;
    }
}

